.intro__list {
    max-width: 690px;
    margin: 33px 0 0 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    list-style-type: none;
    padding-left: 0;
}