.place__paragraph {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
    max-width: 484px;
    margin: 0 0 26px 0;
    box-sizing: border-box;
}
.place__paragraph:nth-of-type(2n) {
    margin-bottom: 0;
}