.intro__text {
    max-width: 690px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    color: #FFFFFF;
    margin: 40px 0 0 0;
}

@media screen and (max-width: 1023px) {
    .intro__text {
        max-width: 720px;
    }
}

@media screen and (max-width: 767px) {
    .intro__text {
        width: fit-content;
    }
}