.cover {
  color: white;
  font-family: "Inter", Arial, sans-serif;
  margin: 92px 48px 0 48px;
}

@media screen and (max-width: 1279px) {
  .cover {
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (max-width: 1023px) {
  .cover {
    margin-top: 90px;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    margin-top: 66px;
  }
}